/*
@font-face {
    font-family: Cool;
    src: url(./Ndot-55.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100;
    width: 100;
}

h1{
    color: rgb(255, 255, 255);
    background-color: rgb(108, 125, 179);
    font-size: 50px;
    font-family: "Cool";
    text-align: center;
    font-weight: 400;
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

div{
    height: 90;
    width: 100;
    color:antiquewhite;
    font-size: 100px;
    text-transform: capitalize;
    text-align: center;
    background-image: url(https://i.pinimg.com/736x/ac/93/43/ac9343b26a3a95d6f9c28b32e5741d1e.jpg) ;
    background-size: cover;
    background-position: 0% 60%;
}